body {
    margin: 0;
    font-family: monospace;
    background-color: white;
}

.banner {
    background-color: #000f5e;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: -60px;
    padding: 0 20px 60px;
    flex-wrap: wrap;
}

.card {
    background-color: #b3b3b3;
    padding: 20px;
    max-width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

